# create a workflow with a name of your choice
# it should be triggered whenever there is a push on the main branch
# it sould be triggered manually too

# define 2 environment variable: VAR1 and VAR2
# VAR1 is boolean
# VAR2 is text

# it should have 2 jobs
# 1st job should contains 2 steps
# step 1:
# - should be executed only if VAR1 is true
# - echo the VAR2
# step 2:
# - echo your name

# 2nd job should be excuted only if job1 is executed successfully
# job2 has only 1 step - you can do here anything you want, e.g. echo "Good morning"
# Commit the file and run the workflow, check if everything works

