# create a workflow with a name of your choice
# it should be triggered whenever there is a push on the main branch
# it sould be triggered manually too

# define 2 environment variable: VAR1 and VAR2
# VAR1 is boolean
# VAR2 is text

# it should have 2 jobs
# 1st job should contains 2 steps
# step 1:
# - should be executed only if VAR1 is true
# - echo the VAR2
# step 2:
# - echo your name

# 2nd job should be excuted only if job1 is executed successfully
# job2 has only 1 step - you can do here anything you want, e.g. echo "Good morning"
# Commit the file and run the workflow, check if everything works

name: Retro - day 1 trigger events

on:
  # Webhook events
  push:
    branches:
      - main
      - feat/*
  pull_request:
    branches:
      - main
  issues:
    types:
      - opened
      - closed
  # Schedule events
  schedule:
    - cron: 0 0 * * *
    - cron: 0 9 * * 0    
  # Manual events
  workflow_dispatch:
    inputs:
      yourName: 
        description: Whats your name?
        required: true
        default:  My friend
      areYouFeelingGood:
        description: Are you feeling good?
        required: true
        type: boolean
      howDoYouFindGithubActions:
        description: How do you find Github Action?
        required: false
        type: choice
        options:
          - Awesome
          - Okay
          - Na

env:
  VAR1: "true"
  VAR2: HELLO
  MY_NAME: MOSEONG

jobs:
  job1:
    runs-on: ubuntu-latest
    steps:
      - name: "Greeting step1 (expectation: Hello MOSEONG)"
        id:  first_step
        run: |
          if [ "$VAR1" = "true" ]; then
            echo $VAR2 $MY_NAME
          else
            echo $MY_NAME    
      - name: "Step2 (expectation : MOSEONG)"
        if: success()
        run: echo $MY_NAME
      
